/* line 1, ../scss/home.scss */
body {
  padding: 0;
  margin: 0;
  background: #E4E6E6;
  font-family: 'Basis Grotesque', helvetica, sans-serif;
  background-image: url("../img/pattern-light.png");
  background-size: 700px;
}

/* line 10, ../scss/home.scss */
.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 220px;
}

/* line 20, ../scss/home.scss */
.center {
  text-align: center;
}

/* line 24, ../scss/home.scss */
.curtain-road {
  width: 220px;
  height: 220px;
}

/* line 29, ../scss/home.scss */
.upper-street {
  width: 220px;
  height: 220px;
}

@media screen and (max-width: 1024px) {
  /* line 37, ../scss/home.scss */
  .curtain-road {
    width: 140px;
    height: 140px;
  }

  /* line 42, ../scss/home.scss */
  .upper-street {
    width: 140px;
    height: 140px;
    margin-bottom: 40px;
  }

  /* line 49, ../scss/home.scss */
  .center-div {
    height: 320px;
  }
}
