/* line 6, ../scss/style-light.scss */
body {
  margin: 0;
  font-weight: 300;
  font-family: 'Basis Grotesque', helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
  background-color: #e8eaea;
  color: #193744;
}

/* line 16, ../scss/style-light.scss */
.logo {
  display: block;
  width: 130px;
  height: 70px;
  background-image: url("../img/logo-rok-light.png");
  background-repeat: no-repeat;
  background-size: 130px 70px;
  margin: 30px 30px;
}

/* line 26, ../scss/style-light.scss */
.logo span {
  display: none;
}

/* line 30, ../scss/style-light.scss */
.gallery span {
  display: none;
}

/* line 34, ../scss/style-light.scss */
section {
  width: 100%;
  padding: 0 0%;
  display: table;
  margin: 0;
  max-width: none;
  background-image: url("../img/pattern-light.png");
  background-size: 700px;
  background-color: #193744;
  height: 100vh;
}

/* line 46, ../scss/style-light.scss */
.intro {
  height: 94vh;
}

/* line 50, ../scss/style-light.scss */
.content {
  display: table-cell;
  vertical-align: top;
}

/* line 55, ../scss/style-light.scss */
.about {
  display: table-cell;
  vertical-align: bottom;
}

/* line 61, ../scss/style-light.scss */
.navigation {
  background-color: #ecefef;
  border-top: solid 1px #EDF0F1;
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 70px;
}

/* line 70, ../scss/style-light.scss */
.navigation ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* line 77, ../scss/style-light.scss */
.navigation li {
  display: block;
  margin-right: 15%;
  margin-left: 0%;
  display: inline-block;
  margin-top: 22px;
}

/* line 85, ../scss/style-light.scss */
.navigation li:last-child {
  margin-right: 0px;
}

/* line 89, ../scss/style-light.scss */
.navigation a {
  color: #1B3742;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}
/* line 97, ../scss/style-light.scss */
.navigation a:hover {
  opacity: 0.8;
}

/* line 102, ../scss/style-light.scss */
.gallery {
  height: 390px;
  margin-bottom: 40px;
  background-color: #ccc;
  background-image: url("../img/gallery.jpg");
  background-size: 1430px 390px;
}

/* line 110, ../scss/style-light.scss */
.footer {
  background-color: #193744;
  color: #ccc;
  padding: 50px 0px 110px 0px;
  margin-top: 40px;
}

/* line 118, ../scss/style-light.scss */
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* line 125, ../scss/style-light.scss */
.rowFooter {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 131, ../scss/style-light.scss */
h1 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.83em;
}

/* line 136, ../scss/style-light.scss */
h3 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-margin-after: 25px;
}

/* line 144, ../scss/style-light.scss */
h4 {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

/* line 150, ../scss/style-light.scss */
p {
  font-weight: 300;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 2em;
}

/* line 156, ../scss/style-light.scss */
hr {
  border: 1;
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 0px solid #fff;
  margin: 50px 0px 30px 0px;
}

/* line 164, ../scss/style-light.scss */
a {
  font-weight: 500;
  color: #FF916D;
}
/* line 169, ../scss/style-light.scss */
a:hover {
  opacity: 0.8;
}
/* line 173, ../scss/style-light.scss */
a:active {
  top: 1px;
}

/* line 178, ../scss/style-light.scss */
a.button {
  display: inline-block;
  margin-top: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: solid 2px white;
  padding: 8px 20px;
  letter-spacing: 2px;
}
/* line 189, ../scss/style-light.scss */
a.button:hover {
  opacity: 0.8;
}

/* line 194, ../scss/style-light.scss */
table {
  width: 100%;
}

/* line 198, ../scss/style-light.scss */
.menu {
  margin-bottom: 10px;
}

/* line 202, ../scss/style-light.scss */
.menu ul {
  margin: 0px 0px 30px 0px;
  padding: 0px;
}

/* line 207, ../scss/style-light.scss */
.menu li {
  list-style-type: none;
  line-height: 22px;
  margin-bottom: 4px;
}

/* line 213, ../scss/style-light.scss */
.social ul {
  margin-top: 0px;
  padding: 0px;
}

/* line 218, ../scss/style-light.scss */
.social li {
  display: inline-block;
  list-style-type: none;
  line-height: 22px;
  margin-right: 20px;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 800px) {
  /* line 230, ../scss/style-light.scss */
  .logo {
    display: block;
    background-repeat: no-repeat;
    margin: 25px 20px;
  }

  /* line 236, ../scss/style-light.scss */
  section {
    width: 100%;
    padding: 0 0%;
    display: table;
    margin: 0;
    max-width: none;
    background-size: 700px;
    background-color: #193744;
    height: 100vh;
  }

  /* line 247, ../scss/style-light.scss */
  .intro {
    height: 94vh;
  }

  /* line 251, ../scss/style-light.scss */
  .navigation {
    height: 60px;
    line-height: 16px;
  }

  /* line 257, ../scss/style-light.scss */
  .navigation ul {
    width: 100%;
    padding: 0px;
    margin-top: 7px;
    display: block;
  }

  /* line 264, ../scss/style-light.scss */
  .navigation li {
    display: block;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: 25%;
    float: left;
  }

  /* line 273, ../scss/style-light.scss */
  .navigation a {
    font-size: 12px;
  }

  /* line 277, ../scss/style-light.scss */
  .gallery {
    height: 375px;
    margin-bottom: 20px;
    background-color: #ccc;
    background-image: url("../img/gallery-mobile.jpg");
    background-size: 750px 375px;
  }

  /* line 285, ../scss/style-light.scss */
  .menu li {
    list-style-type: none;
    line-height: 20px;
    margin-bottom: 12px;
  }

  /* line 291, ../scss/style-light.scss */
  a.button {
    display: block;
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border: solid 2px white;
    padding: 12px 20px;
  }
  /* line 300, ../scss/style-light.scss */
  a.button:hover {
    opacity: 0.8;
  }

  /* line 306, ../scss/style-light.scss */
  .column, .columns {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  /* line 311, ../scss/style-light.scss */
  .social ul {
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
  }

  /* line 318, ../scss/style-light.scss */
  .social li {
    display: inline-block;
    list-style-type: none;
    line-height: 22px;
    margin-right: 30px;
    width: 32px;
    height: 32px;
  }

  /* line 328, ../scss/style-light.scss */
  .footer {
    background-color: #193744;
    color: #ccc;
    padding: 50px 0px 80px 0px;
    margin-top: 40px;
  }
}
