/* line 6, ../scss/style-light.scss */
body {
  margin: 0;
  font-weight: 300;
  font-family: 'Basis Grotesque', helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
  background-color: #e4e6e6;
  color: #193744;
}

/* line 16, ../scss/style-light.scss */
.logo {
  display: block;
  width: 130px;
  height: 70px;
  background-image: url("../img/logo-rok-light.png");
  background-repeat: no-repeat;
  background-size: 130px 70px;
  margin: 30px 30px;
}

/* line 26, ../scss/style-light.scss */
.logo-branch {
  level: 100;
  position: absolute;
  display: block;
  width: 130px;
  height: 70px;
}

/* line 34, ../scss/style-light.scss */
.logo span {
  display: none;
}

/* line 38, ../scss/style-light.scss */
.gallery span {
  display: none;
}

/* line 42, ../scss/style-light.scss */
section {
  width: 100%;
  padding: 0 0%;
  display: table;
  margin: 0;
  max-width: none;
  background-image: url("../img/pattern-light.png");
  background-size: 700px;
  height: 100vh;
}

/* line 53, ../scss/style-light.scss */
.intro {
  height: 94vh;
}

/* line 58, ../scss/style-light.scss */
.about {
  display: table-cell;
  vertical-align: bottom;
}

/* line 63, ../scss/style-light.scss */
.navigation {
  background-color: #ecefef;
  border-top: solid 1px #EDF0F1;
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 70px;
}

/* line 72, ../scss/style-light.scss */
.navigation ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* line 79, ../scss/style-light.scss */
.navigation li {
  display: block;
  margin-right: 15%;
  margin-left: 0%;
  display: inline-block;
  margin-top: 22px;
}

/* line 87, ../scss/style-light.scss */
.navigation li:last-child {
  margin-right: 0px;
}

/* line 91, ../scss/style-light.scss */
.navigation a {
  color: #1B3742;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}
/* line 99, ../scss/style-light.scss */
.navigation a:hover {
  opacity: 0.8;
}

/* line 104, ../scss/style-light.scss */
.gallery {
  height: 0;
  margin-bottom: 40px;
  background-color: #ccc;
  background-image: url("../img/gallery.jpg");
  background-size: cover;
  padding-top: 27%;
}

/* line 113, ../scss/style-light.scss */
.footer {
  background-color: #193744;
  color: #ccc;
  padding: 50px 0px 110px 0px;
  margin-top: 40px;
}

/* line 121, ../scss/style-light.scss */
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: none;
}

/* line 128, ../scss/style-light.scss */
.rowFooter {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 134, ../scss/style-light.scss */
h1 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.83em;
}

/* line 139, ../scss/style-light.scss */
h3 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-margin-after: 25px;
}

/* line 146, ../scss/style-light.scss */
h4 {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

/* line 152, ../scss/style-light.scss */
p {
  font-weight: 300;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 2em;
}

/* line 158, ../scss/style-light.scss */
hr {
  border: 1;
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 0px solid #fff;
  margin: 50px 0px 30px 0px;
}

/* line 166, ../scss/style-light.scss */
a {
  font-weight: 500;
  color: #FF916D;
}
/* line 171, ../scss/style-light.scss */
a:hover {
  opacity: 0.8;
}
/* line 175, ../scss/style-light.scss */
a:active {
  top: 1px;
}

/* line 180, ../scss/style-light.scss */
a.button {
  display: inline-block;
  margin-top: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: solid 2px white;
  padding: 8px 20px;
  letter-spacing: 2px;
}
/* line 191, ../scss/style-light.scss */
a.button:hover {
  opacity: 0.8;
}

/* line 197, ../scss/style-light.scss */
ul.divider {
  width: 100%;
  background-color: #1A3743;
}

/* line 202, ../scss/style-light.scss */
.divider li {
  list-style-type: none;
  line-height: 22px;
  padding: 8em 0em;
  border-right: solid 1px #415865;
  letter-spacing: 2px;
  display: inline-block;
}

/* line 211, ../scss/style-light.scss */
.divider .islington {
  float: left;
  width: 50%;
}

/* line 217, ../scss/style-light.scss */
.divider li:last-child {
  border: 0px;
}

/* line 221, ../scss/style-light.scss */
table {
  width: 100%;
}

/* line 225, ../scss/style-light.scss */
.menu {
  margin-bottom: 10px;
}

/* line 229, ../scss/style-light.scss */
.menu ul {
  margin: 0px 0px 30px 0px;
  padding: 0px;
}

/* line 234, ../scss/style-light.scss */
.menu li {
  list-style-type: none;
  line-height: 22px;
  margin-bottom: 4px;
}

/* line 240, ../scss/style-light.scss */
#social {
  position: fixed;
  right: 0;
  height: 150px;
  top: 50%;
  margin-top: -75px;
  /* minus half the height */
  background: #e4e6e6;
}

/* line 249, ../scss/style-light.scss */
ul.social {
  margin: 0px;
}

/* line 253, ../scss/style-light.scss */
ul.social, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

/* line 263, ../scss/style-light.scss */
.social li {
  list-style-type: none;
  padding: 10px 10px 10px 10px;
}

@media screen and (max-width: 800px) {
  /* line 271, ../scss/style-light.scss */
  .logo {
    display: block;
    background-repeat: no-repeat;
    margin: 25px 20px;
  }

  /* line 277, ../scss/style-light.scss */
  section {
    width: 100%;
    padding: 0 0%;
    display: table;
    margin: 0;
    max-width: none;
    background-size: 700px;
    height: 100vh;
  }

  /* line 287, ../scss/style-light.scss */
  .intro {
    height: 94vh;
  }

  /* line 291, ../scss/style-light.scss */
  .navigation {
    height: 60px;
    line-height: 16px;
  }

  /* line 297, ../scss/style-light.scss */
  .navigation ul {
    width: 100%;
    padding: 0px;
    margin-top: 7px;
    display: block;
  }

  /* line 304, ../scss/style-light.scss */
  .navigation li {
    display: block;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: 25%;
    float: left;
  }

  /* line 313, ../scss/style-light.scss */
  .navigation a {
    font-size: 12px;
  }

  /* line 317, ../scss/style-light.scss */
  .gallery {
    height: 0;
    margin-bottom: 40px;
    background-color: #ccc;
    background-image: url("../img/gallery-mobile.jpg");
    background-size: cover;
    padding-top: 100%;
  }

  /* line 331, ../scss/style-light.scss */
  .menu li {
    list-style-type: none;
    line-height: 20px;
    margin-bottom: 12px;
  }

  /* line 337, ../scss/style-light.scss */
  a.button {
    display: block;
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border: solid 2px white;
    padding: 12px 20px;
  }
  /* line 346, ../scss/style-light.scss */
  a.button:hover {
    opacity: 0.8;
  }

  /* line 352, ../scss/style-light.scss */
  .column, .columns {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  /* line 357, ../scss/style-light.scss */
  .footer {
    background-color: #193744;
    color: #ccc;
    padding: 50px 0px 80px 0px;
    margin-top: 40px;
  }
}
