/* line 6, ../scss/style.scss */
body {
  margin: 0;
  font-weight: 300;
  font-family: 'Basis Grotesque', helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
  background-color: #e8eaea;
  color: #333;
}

/* line 16, ../scss/style.scss */
.logo {
  display: block;
  width: 100px;
  height: 54px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: 100px 54px;
  margin: 30px 30px;
}

/* line 26, ../scss/style.scss */
.logo span {
  display: none;
}

/* line 30, ../scss/style.scss */
.gallery span {
  display: none;
}

/* line 34, ../scss/style.scss */
section {
  width: 100%;
  padding: 0 0%;
  display: table;
  margin: 0;
  max-width: none;
  background-image: url("../img/pattern.png");
  background-size: 700px;
  background-color: #193744;
  height: 100vh;
}

/* line 46, ../scss/style.scss */
.intro {
  height: 94vh;
}

/* line 50, ../scss/style.scss */
.content {
  display: table-cell;
  vertical-align: top;
}

/* line 55, ../scss/style.scss */
.about {
  display: table-cell;
  vertical-align: bottom;
}

/* line 61, ../scss/style.scss */
.navigation {
  background-color: #193744;
  border-top: solid 1px #2E4954;
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 70px;
}

/* line 71, ../scss/style.scss */
.navigation ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* line 78, ../scss/style.scss */
.navigation li {
  display: block;
  margin-right: 15%;
  margin-left: 0%;
  display: inline-block;
  margin-top: 22px;
}

/* line 86, ../scss/style.scss */
.navigation li:last-child {
  margin-right: 0px;
}

/* line 90, ../scss/style.scss */
.navigation a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}
/* line 98, ../scss/style.scss */
.navigation a:hover {
  opacity: 0.8;
}

/* line 103, ../scss/style.scss */
.gallery {
  height: 375px;
  margin-bottom: 40px;
  background-color: #ccc;
  background-image: url("../img/gallery.png");
  background-size: 1430px 390px;
}

/* line 111, ../scss/style.scss */
.footer {
  background-color: #193744;
  color: #ccc;
  padding: 50px 0px 70px 0px;
  margin-top: 40px;
}

/* line 119, ../scss/style.scss */
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* line 126, ../scss/style.scss */
.rowFooter {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 132, ../scss/style.scss */
h1 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.83em;
}

/* line 137, ../scss/style.scss */
h3 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-margin-after: 25px;
}

/* line 145, ../scss/style.scss */
h4 {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

/* line 151, ../scss/style.scss */
p {
  font-weight: 300;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 2em;
}

/* line 157, ../scss/style.scss */
hr {
  border: 1;
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 0px solid #fff;
  margin: 50px 0px 30px 0px;
}

/* line 165, ../scss/style.scss */
a {
  font-weight: 500;
  color: #FF916D;
}
/* line 170, ../scss/style.scss */
a:hover {
  opacity: 0.8;
}
/* line 174, ../scss/style.scss */
a:active {
  top: 1px;
}

/* line 179, ../scss/style.scss */
a.button {
  display: inline-block;
  margin-top: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: solid 2px white;
  padding: 8px 20px;
  letter-spacing: 2px;
}
/* line 190, ../scss/style.scss */
a.button:hover {
  opacity: 0.8;
}

/* line 195, ../scss/style.scss */
table {
  width: 100%;
}

/* line 199, ../scss/style.scss */
.menu {
  margin-bottom: 10px;
}

/* line 203, ../scss/style.scss */
.menu ul {
  margin: 0px 0px 30px 0px;
  padding: 0px;
}

/* line 208, ../scss/style.scss */
.menu li {
  list-style-type: none;
  line-height: 22px;
  margin-bottom: 4px;
}

/* line 214, ../scss/style.scss */
.social ul {
  margin-top: 40px;
  padding-top: 20px;
  border-top: solid 1px #234452;
  text-align: center;
}

/* line 222, ../scss/style.scss */
.social li {
  display: inline-block;
  list-style-type: none;
  line-height: 22px;
  margin-right: 30px;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 800px) {
  /* line 233, ../scss/style.scss */
  .logo {
    display: block;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    margin: 25px 20px;
  }

  /* line 243, ../scss/style.scss */
  section {
    width: 100%;
    padding: 0 0%;
    display: table;
    margin: 0;
    max-width: none;
    background-image: url("../img/pattern.png");
    background-size: 700px;
    background-color: #193744;
    height: 100vh;
  }

  /* line 255, ../scss/style.scss */
  .intro {
    height: 94vh;
  }

  /* line 259, ../scss/style.scss */
  .navigation {
    border-top: solid 1px #2E4954;
    height: 110px;
  }

  /* line 266, ../scss/style.scss */
  .navigation ul {
    width: 100%;
    padding: 0px;
    margin-top: 20px;
    display: block;
  }

  /* line 273, ../scss/style.scss */
  .navigation li {
    display: block;
    margin: 0 auto;
    padding: 5px;
    text-align: left;
    width: 50%;
    float: left;
  }

  /* line 282, ../scss/style.scss */
  .navigation a {
    font-size: 13px;
  }

  /* line 286, ../scss/style.scss */
  .gallery {
    height: 375px;
    margin-bottom: 20px;
    background-color: #ccc;
    background-image: url("../img/gallery-mobile.png");
    background-size: 1125px 375px;
  }

  /* line 294, ../scss/style.scss */
  .menu li {
    list-style-type: none;
    line-height: 20px;
    margin-bottom: 12px;
  }

  /* line 300, ../scss/style.scss */
  a.button {
    display: block;
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border: solid 2px white;
    padding: 12px 20px;
  }
  /* line 309, ../scss/style.scss */
  a.button:hover {
    opacity: 0.8;
  }

  /* line 315, ../scss/style.scss */
  .column, .columns {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}
