/* line 6, ../scss/style.scss */
body {
  margin: 0;
  font-weight: 300;
  font-family: 'Basis Grotesque', helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
  background-color: #e8eaea;
  color: #333;
}

/* line 17, ../scss/style.scss */
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 24, ../scss/style.scss */
.middle {
  display: table-cell;
  vertical-align: middle;
}

/* line 29, ../scss/style.scss */
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

/* line 35, ../scss/style.scss */
.logo {
  display: block;
  width: 130px;
  height: 70px;
  background-image: url("../img/logo-rok.png");
  background-repeat: no-repeat;
  background-size: 130px 70px;
  margin: 30px 30px;
}

/* line 45, ../scss/style.scss */
.logo span {
  display: none;
}

/* line 49, ../scss/style.scss */
.gallery span {
  display: none;
}

/* line 53, ../scss/style.scss */
section {
  width: 100%;
  padding: 0 0%;
  display: table;
  margin: 0;
  max-width: none;
  background-image: url("../img/pattern.png");
  background-size: 700px;
  background-color: #193744;
  height: 100vh;
}

/* line 65, ../scss/style.scss */
.intro {
  height: 94vh;
}

/* line 69, ../scss/style.scss */
.content {
  display: table-cell;
  vertical-align: top;
}

/* line 74, ../scss/style.scss */
.about {
  display: table-cell;
  vertical-align: bottom;
}

/* line 80, ../scss/style.scss */
.navigation {
  background-color: #193744;
  border-top: solid 1px #2E4954;
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 70px;
}

/* line 89, ../scss/style.scss */
.navigation ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* line 96, ../scss/style.scss */
.navigation li {
  display: block;
  margin-right: 15%;
  margin-left: 0%;
  display: inline-block;
  margin-top: 22px;
}

/* line 104, ../scss/style.scss */
.navigation li:last-child {
  margin-right: 0px;
}

/* line 108, ../scss/style.scss */
.navigation a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}
/* line 116, ../scss/style.scss */
.navigation a:hover {
  opacity: 0.8;
}

/* line 121, ../scss/style.scss */
.gallery {
  height: 390px;
  margin-bottom: 40px;
  background-color: #ccc;
  background-image: url("../img/gallery.jpg");
  background-size: 1430px 390px;
}

/* line 129, ../scss/style.scss */
.footer {
  background-color: #193744;
  color: #ccc;
  padding: 50px 0px 110px 0px;
  margin-top: 40px;
}

/* line 137, ../scss/style.scss */
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* line 144, ../scss/style.scss */
.rowFooter {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* line 150, ../scss/style.scss */
h1 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.83em;
}

/* line 155, ../scss/style.scss */
h3 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-margin-after: 25px;
}

/* line 163, ../scss/style.scss */
h4 {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

/* line 169, ../scss/style.scss */
p {
  font-weight: 300;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 2em;
}

/* line 175, ../scss/style.scss */
hr {
  border: 1;
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 0px solid #fff;
  margin: 50px 0px 30px 0px;
}

/* line 183, ../scss/style.scss */
a {
  font-weight: 500;
  color: #FF916D;
}
/* line 188, ../scss/style.scss */
a:hover {
  opacity: 0.8;
}
/* line 192, ../scss/style.scss */
a:active {
  top: 1px;
}

/* line 197, ../scss/style.scss */
a.button {
  display: inline-block;
  margin-top: 30px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: solid 2px white;
  padding: 8px 20px;
  letter-spacing: 2px;
}
/* line 208, ../scss/style.scss */
a.button:hover {
  opacity: 0.8;
}

/* line 213, ../scss/style.scss */
table {
  width: 100%;
}

/* line 217, ../scss/style.scss */
.menu {
  margin-bottom: 10px;
}

/* line 221, ../scss/style.scss */
.menu ul {
  margin: 0px 0px 30px 0px;
  padding: 0px;
}

/* line 226, ../scss/style.scss */
.menu li {
  list-style-type: none;
  line-height: 22px;
  margin-bottom: 4px;
}

/* line 232, ../scss/style.scss */
#social {
  position: fixed;
  right: 0;
  height: 150px;
  top: 50%;
  margin-top: -75px;
  /* minus half the height */
  background: #193744;
}

/* line 241, ../scss/style.scss */
ul.social {
  margin: 0px;
}

/* line 245, ../scss/style.scss */
ul.social, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

/* line 255, ../scss/style.scss */
.social li {
  list-style-type: none;
  padding: 10px 10px 10px 10px;
}

@media screen and (max-width: 800px) {
  /* line 263, ../scss/style.scss */
  .logo {
    display: block;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    margin: 25px 20px;
  }

  /* line 270, ../scss/style.scss */
  section {
    width: 100%;
    padding: 0 0%;
    display: table;
    margin: 0;
    max-width: none;
    background-image: url("../img/pattern.png");
    background-size: 700px;
    background-color: #193744;
    height: 100vh;
  }

  /* line 282, ../scss/style.scss */
  .intro {
    height: 94vh;
  }

  /* line 286, ../scss/style.scss */
  .navigation {
    border-top: solid 1px #2E4954;
    height: 60px;
    line-height: 16px;
  }

  /* line 293, ../scss/style.scss */
  .navigation ul {
    width: 100%;
    padding: 0px;
    margin-top: 7px;
    display: block;
  }

  /* line 300, ../scss/style.scss */
  .navigation li {
    display: block;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: 25%;
    float: left;
  }

  /* line 309, ../scss/style.scss */
  .navigation a {
    font-size: 12px;
  }

  /* line 313, ../scss/style.scss */
  .gallery {
    height: 375px;
    margin-bottom: 20px;
    background-color: #ccc;
    background-image: url("../img/gallery-mobile.jpg");
    background-size: 750px 375px;
  }

  /* line 321, ../scss/style.scss */
  .menu li {
    list-style-type: none;
    line-height: 20px;
    margin-bottom: 12px;
  }

  /* line 327, ../scss/style.scss */
  a.button {
    display: block;
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border: solid 2px white;
    padding: 12px 20px;
  }
  /* line 336, ../scss/style.scss */
  a.button:hover {
    opacity: 0.8;
  }

  /* line 342, ../scss/style.scss */
  .column, .columns {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  /* line 347, ../scss/style.scss */
  .footer {
    background-color: #193744;
    color: #ccc;
    padding: 50px 0px 80px 0px;
    margin-top: 40px;
  }
}
