body { 
  padding: 0; 
  margin: 0; 
  background: #E4E6E6; 
  font-family: 'Basis Grotesque', helvetica, sans-serif;
  background-image: url("../img/pattern-light.png");
  background-size: 700px;
}

.center-div{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 220px;
}

.center{
  text-align: center;
}

.curtain-road{
  width:220px;
  height:220px;
}

.upper-street{
  width:220px;
  height:220px;
}


@media screen and (max-width: 1024px) {

  .curtain-road{
    width:140px;
    height:140px;
  }

  .upper-street{
    width:140px;
    height:140px;
    margin-bottom:40px;
  }

  .center-div
  {
    height: 320px;
  }

}